body{
    background-color: aquamarine;
}
.new{
    color: beige;
    font-size: 24px;
    font-weight: 700;
}
.red{
    color: red;
}
.right{
    background: green;
}
.false{
    background: grey;
}
.itog{
    font-size: 36px;
    
}
.b-1{
    height: 20px;
    width: 50px;
    background-color: rgb(36, 108, 91);
    margin: 10px 0;
    padding: 0;
}